#nav_list 
  - if user_signed_in? 
    %li
      - if current_user.fb_avatar_url != nil
        = link_to(image_tag(current_user.fb_avatar_url) + current_user.name, edit_user_registration_path)
      - else
        = link_to('My Account', edit_user_registration_path)
  - if user_signed_in? 
    %li
      = link_to('Log Out', destroy_user_session_path, :method=>'delete')    
  - else 
    %li
      #fb_signin
        = link_to(image_tag('fb_signin.png'), user_omniauth_authorize_path(:facebook) )
 