<h1>About Us</h1>
<p><a href="http://rentswap.org/">RentSwap.org</a> is a community project created by<a href="Soft3.org">soft3.org</a> to support a growing trend and need to share what we own, with others who would like to easily share and rent things they own with their friends and others to actualize value from things they own.  Until now, there hasn’t been a place to reliably connect with people looking to share your things.</p>

<p><strong>Our support of Collaborative Consumption</strong>

<p>According to Rachel Botsman, a leading expert on collaborative consumption, if the 20th century was defined by hyper consumption, the 21st century will be defined by collaborative consumption.

<p><strong>Why we believe the collaborative consumption revolution might be a significant as the industrial revolution, according to Tech Crunch.</strong>

<p>“Everything, it seems, is becoming collaborative. From Airbnb to RentCycle to Zipcar, we are swapping our cars, our homes, even our clothes with each other. According to Lauren Anderson from Collaborative Consumption, this change might be as profound as the industrial revolution, in a world driven by “reputational capital” in which the “We” of the our collaborative age will replace the “Me” of the industrial age.”

<p>Collaborative consumption describes the rapid explosion in traditional sharing, bartering, lending, trading, renting, gifting, and swapping reinvented through network technologies on a scale and in ways never possible before.

<p>We are excited to be part of this movement with creation and believe as others do, that collaborating is powerful, fun, and the right thing to do in today’s day and age.
<p> <strong>About The Platform</strong>

&nbsp;

We are a place where people can rent and share things they own with their Facebook friends.

&nbsp;

At RentSwap.org, you can:
<ul>
<li>Create a store of things you are offering to rent and share.</li>
</ul>
&nbsp;
<ul>
<li>Define your rental terms – free to use, fixed price, share, swap, barter, or whatever both parties work out.</li>
</ul>
&nbsp;
<ul>
<li>Find rentals you need from people on Facebook.</li>
</ul>
&nbsp;
<ul>
<li>Ask questions</li>
</ul>
&nbsp;
<ul>
<li>Define Agreement</li>
</ul>
&nbsp;
<ul>
<li>Arrange rental</li>
</ul>
&nbsp;
<ul>
<li>Fulfill rental</li>
</ul>
&nbsp;
<ul>
<li>Return rental</li>
</ul>
<strong>About Us</strong>
</p>
