
<strong>How it Works/strong>

We are a place where people can rent and share things they own with their Facebook friends.

At RentSwap.org, you can:
<ul>
  <li>Create a store of things you are offering to rent and share</li>
</ul>
<ul>
	<li>Define your rental terms – free to use, fixed price, share, swap, barter, or whatever both parties work out</li>
</ul>
<ul>
	<li>Find rentals you need from people on Facebook</li>
</ul>
<ul>
	<li>Ask questions</li>
</ul>
<ul>
	<li>Define Agreement</li>
</ul>
<ul>
	<li>Arrange rental</li>
</ul>
<ul>
	<li>Fulfill rental</li>
</ul>
<ul>
	<li>Return rental</li>
</ul>
<ul>
	<li>Share your experience</li>
</ul>
</div>