<p><h1>Trust and Safety</h1></p>
<p>We believe people are inherently good, but that sometimes things can go wrong.<p>
<p>Rent Swap connects people to rent and share things they own with each other<p>
<p>To sign up for the site, you must have an active Facebook account. The system is designedso yo9u can exchange and make visible your listings to either only your Facebook friends or all users on Facebook. 
<p>If a problem comes up, and it's an emergency, handle it like any other emergency, and call 911. 
<p>Report any suspicious activity, so Rent Swap can immediately address the issue. 
<p>Use common sense. Trust your instincts. 
<p>Sign rental agreements, collect deposits, and secure your things with collateral, if need be. 
<p>Call your insurance company to get confirmation about your auto, home, or renters policy. Find out what is covered when you rent, swap, or loan to others. 