<p><h1>Trust and Safety</h1></p>

<p><b>We believe people are inherently good, but that sometimes, things can go wrong.</b></p>

<ul>
        <li>Rent Swap enables people to more easily rent and share.</li>
</ul>
&nbsp;
<ul>
	<li>To sign up, you must have an active Facebook account. The system is designed, so you can exchange and make                        your listings viewable to your Facebook friends or all users on Facebook.</li>
</ul>
&nbsp;
<ul>
	<li>If a problem comes up, and it's an emergency, handle it like any other emergency, and call 911.</li>
</ul>
&nbsp;
<ul>
	<li>Report any suspicious activity, so Rent Swap can immediately address the issue.</li>
</ul>
&nbsp;
<ul>	
	<li>Use common sense. Trust your instincts.</li>
</ul>
&nbsp;
<ul>
	<li>Sign rental agreements, collect deposits, and secure your things with collateral, if need be.</li>
</ul>
&nbsp;
<ul>
	<li>Call your insurance company to get confirmation about your auto, home, or renters policy. Find out what is covered when you rent, swap, or loan to others.</li>
</ul>