#container
 #side-a
  = render :partial => "shared/store_sidebar", :locals => { :store => @item.store }

#content
 = render :partial => "form", :locals => { :item => @item, :iurl => store_item_path(@store,@item), :iact => 'put' }

#side-b (Similar Listings)


