#container
 #side-a
  = render :partial => "shared/store_sidebar", :locals => { :store => @item.store }

#content
 = render  :partial => "form", :locals => { :item => @item, :iurl => store_items_path(@item.store), :iact => 'post' }

#side-b (Similar Listings)
