<div id="container">
<div id="side-a">
<%= render :partial => "shared/store_sidebar", :locals => { :store => @item.store } %>
</div>

<div id="content">

<%= render  :partial => "form", :locals => { :item => @item, :iurl => new_store_item_path(@item.store) } %>

</div>

<div id="side-b">
(Similar Listings)
</div>
