/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

#homepage_item{ 
  clear:both;
  position:relative;
  top: 0px;
  width:690px; 
  background:#eee;	/* background colour */
  border-style:solid;
  -moz-border-radius: 15px;
  border-radius: 15px;

  border-width:thin;
  margin: 1px;
  height: 173px;
  margin-bottom: 4px;
}


#item_search_result{ 
  clear:both;
  top: 0px;
  width:465px;
  display: inline; 
 }
 
#item_search_result_picture{
  clear:both;
  width:100px;
  display: inline; 
  margin-left:10px;
 }
#item_search_result_details{
  float:right;
  position:relative;
  width:460px;
  font-size:110%;
 }
 #item_search_result_text{
  display: inline; 
   position:relative;
   padding: 0px 0px 0px 0px;
 }

#item_search_result_owner_picture {
  position:absolute;
  display: inline; 
  padding: 0px 0px 0px 3px;

}

#item_search_result_price{
  float:right;
  font-size:150%;
text-align: right;
    padding: 15px 15px 5px 5px;
 }
 
 
#wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 1000px;
}

#header {
	margin: 0 0 15px 0;
	background: yellow;
}

#side-a {
	float: left;
	width: 230px;
 background:#eee;	/* background colour */
  border-style:solid;
  -moz-border-radius: 15px;
  border-radius: 15px;
    border-width:thin;
    	margin: 10px;
}

#side-b {
	float: right;
	width: 150px;
}

#content { 
	float: left;
	width: 59%;

     	margin: 10px;

}

#footer {
	clear: both;
	background: #A2A2A2;
}
