$blue: #3bbfce;
$text_color: rgb(137,89,39);
$header-width: 100%;
$nav_bar_normal_y: -170px;
$nav_bar_hover_y:  -399px;

 body{
  margin: 0;
  padding: 170px 0 0 200px;
 }

#top {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: $header-width;
}


#top #header{
 margin: 0 auto;
 position: relative;
 width: 971px;
}
#top a img {
  margin-top: 8px;
  margin-right: 8px;
}


#top #nav {
 float:right; 
}

#nav_list li {
   float:left;
   list-style-type:none;
   margin:5px;
   margin-top: 130px;
}

#nav_list li a {
  color:$text_color;
  text-decoration:none;
}

#nav_list li a img {
  vertical-align:text-top;
  height:30px;
  width:30px;
  margin-top: -8px;
  margin-right: 8px;
}

#nav_list li #fb_signin a img {
  vertical-align:text-top;
  height:20px;
  width:145px;
}

#navlist{
  left: 0;
  position: absolute;
  top: 150px;
  height: 160px;
  width: $header-width;
  background: url("nav_bar.png") 0 $nav_bar_normal_y;
}

#navlist {
list-style-type:none;
margin:0;
padding:0;
top:160px;
overflow:hidden;
}

#navlist li{float:left;list-style:none;top:0;overflow:hidden;}
#navlist li, #navlist a{display:block;height:50px; text-indent: -9999px;}

#find{margin-left:61px;left:0px;width:190px}

#find a:hover{background: url('nav_bar.png') -61px $nav_bar_hover_y;}

#list{margin-left:5px;left:0px;width:190px}
#list a:hover{background: url('nav_bar.png') -256px $nav_bar_hover_y;}

#how{margin-left:5px;left:0px;width:190px}
#how a:hover{background: url('nav_bar.png') -451px $nav_bar_hover_y;}


/*           left-side bar               */
div#left-sidebar {
    position: fixed !important;
}

div#left-sidebar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 200px;
    width: 150px;
}
div#left-sidebar {
    background: gray;
    color: black;
}


#container {
 margin: 0 auto;
 position: relative;
 width: 971px;
 top: 200px;
 width:954px;
 #content{
  padding:10px;
 }
}




 /*         footer                 */
 div#footer {
    background: url("footer.png");
    background-repeat:no-repeat;
    margin: 0 auto;
    position: relative;
    width: 971px;
    height: 150px;
    left: 0;
    overflow:hidden;
}

 @media screen{
  div#header{
   position:fixed;
  }

 div#footer{

   }
   .fmenu{
    margin: 0 auto;
    position: relative;
    width: 1015px;
    margin-top: 100px;
   }
   .fmenu li{
    margin-left:50px;
    float: left;
    list-style: none outside none;
   }
   .fmenu li a{
     color: $text_color;
   }
 }

/* ***********************************************************    */
$black: #F8F8F8;
#login_box{
   background: #F8F8F8;
   -moz-border-radius: 10px;
   width:500px;
   margin-left:220px;
   #login_header{
      background: #B8B8B8;
      height:40px;
      -moz-border-radius-topright:10px;
      -moz-border-radius-topleft:10px;
   }
   h2{
     text-align:center;
     padding: 6px;
     font-size: 1.3em;
   }
  .label{
      padding: 10px;

    a{
      font-size:12px;
    }
  }

}


form input {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 7px;
    vertical-align: middle;
}


/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:1000px;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
		/* right column background colour */
}
.threecol .colmid {
	right:250px;			/* width of the right column */
			/* center column background colour */
}
.threecol .colleft {
	right:700px;			/* width of the middle column */
	/* left column background colour */
}
.threecol .col1 {
	width:700px;			/* width of center column content (column width minus padding on either side) */
	left:1000px;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:0px;			/* Width of left column content (column width minus padding on either side) */
	left:0px;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:210px;			/* Width of right column content (column width minus padding on either side) */
	left:1010px;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}


#item_result{ 
  clear:both;
  top: 0px;
  width:465px;
  display: inline; 
 }
 
#item_result_picture{
  clear:both;
  width:100px;
  display: inline; 
  margin-left:10px;
 }
#item_result_details{
  float:right;
  position:relative;
  width:460px;
  font-size:110%;
 }
 #item_result_text{
  display: inline; 
   position:relative;
   padding: 0px 0px 0px 0px;
 }

#item_result_owner_picture {
  position:absolute;
  display: inline; 
  padding: 0px 0px 0px 3px;

}

#item_result_price{
  float:right;
  font-size:150%;
text-align: right;
    padding: 15px 15px 5px 5px;
 }
