$blue: #3bbfce;
$header-width: 100%;

 body{
  margin: 0;
  padding: 190px 0 0 220px;
 }

/*           header           */
div#wt {
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: $header-width;
  background: url("header.png");
}


div#wt #header{
 margin: 0 auto;
 position: relative;
 width: 971px;
}


#signup li {
   float:left;
   list-style-type:none;
   margin:5px;
}

#signup li a {
  color:white;
}

#rent_list{
 background: url("list-rental.png") no-repeat;
 width: 120px;
 height:33px;
 margin-left: -66px;
}
#rent_list a{
  text-indent: -9999px;
}

/*         menu          */
#menu_wrapper div {
    float: left;
    height: 44px;
    width: 12px;
}
#menu_wrapper ul {
    margin-left: 12px;
}
#menu {
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    list-style-type: none;
    margin: 50px 0;
    padding: 0;
}
#menu li {
    float: left;
    margin: 0;
}

#menu li#dashboard a {
    background: url("dashboard.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 125px;
    text-indent: -9999px;
}

#menu li#dashboard a:hover {
    background: url("dashboard_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 125px;
    text-indent: -9999px;
}

#menu li#inbox a {
    background: url("inbox.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 91px;
    text-indent: -9999px;
}
#menu li#inbox a:hover {
    background: url("inbox_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 91px;
    text-indent: -9999px;
}

#menu li#your-rentals a {
    background: url("your-rentals.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 157px;
    text-indent: -9999px;
}

#menu li#your-rentals a:hover {
    background: url("your-rentals_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 157px;
    text-indent: -9999px;
}
#menu li#account a {
    background: url("account.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 99px;
    text-indent: -9999px;
}
#menu li#account a:hover {
    background: url("account_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 99px;
    text-indent: -9999px;
}
#menu li#profile a {
    background: url("profile.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 99px;
    text-indent: -9999px;
}
#menu li#profile a:hover {
    background: url("profile_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 99px;
    text-indent: -9999px;
}
#menu li#find-rental a {
    background: url("find-rental.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 140px;
    text-indent: -9999px;
}
#menu li#find-rental a:hover {
    background: url("find-rental_selected.png") repeat-x scroll 0 0 transparent;
    display: block;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    width: 140px;
    text-indent: -9999px;
}



/*           left-side bar               */
div#left-sidebar {
    position: fixed !important;
}

div#left-sidebar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 200px;
    width: 150px;
}
div#left-sidebar {
    background: gray;
    color: black;
}


#container {
 margin: 0 auto;
 position: relative;
 width: 971px;
 min-height:700px;
 background: #f2f2f2;
 top: -24%;
 width:954px;
 #content{
  padding:10px;
 }
}




 /*         footer                 */
 div#footer {
    background: url("header.png");
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    overflow:hidden;
}

 @media screen{
  div#header{
   position:fixed;
  }

 div#footer{
   position:fixed;
   }
   .fmenu{
    margin: 0 auto;
    position: relative;
    width: 1015px;
   }
   .fmenu li{
    margin-left:50px;
    float: left;
    list-style: none outside none;
   }
   .fmenu li a{
     color: #fff;
   }
 }

/* ***********************************************************    */
$black: #F8F8F8;
div#login_box{
 background: #F8F8F8;
 -moz-border-radius: 10px;
 width:500px;
 margin-left:220px;
   div#login_header{
    background: #B8B8B8;
    height:40px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-topleft:10px;
   }
   h2{
     text-align:center;
     padding: 6px;
     font-size: 1.3em;
   }
  .label{
      padding: 10px;

    a{
      font-size:12px;
    }
  }

}


form input {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 7px;
    vertical-align: middle;
}
