
html, body{ 
 margin:0; 
 padding:0; 
 } 
 
#pagewidth{ }


ul.hmenu {
  list-style: none;	
}

ul.hmenu li {
  display: inline;  
}

ul.fmenu {
  list-style: none;	
}

ul.fmenu li {
  display: inline;  
   padding: 0px 0px 0px 20px;
}

.right
{

float:right;
width:50%;
}
.left
{
float:left;
width:50%;

}

#header{
 position:relative; 
 background-color:#FFFFFF; 
 width:100%;
 overflow:auto;
 
}
#header_left{

 position:relative; 
  background-color:#FFFFFF; 
 text-align:left;
 overflow:auto;
 padding: 10px 0px 0px 25px;
} 

#header_right{
 position:relative; 
  background-color:#FFFFFF; 
 float:right; 
  overflow:auto;
 padding: 20px 20px 0px 0px;
 font-size:80%;
} 
 
#leftcol{
 width:20%; 
 align:left; 

  }
 
#twocols{
 width:80%; 
 float:right; 
 position:relative; 
  }
 
#rightcol{
 width:25%; 
 float:right; 
 position:relative; 
 }
 
 #map_canvas {
width:20%;
    position:relative; 
 }

#maincol{
 background-color: #FFFFFF;  
 float: left; 
  position: relative; 
 width:75%; 
 }
 
#footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
width:70%;
  background-color:#FFFFFF; 
 clear:both;
 overflow:auto;
  position:relative; 
   font-size:80%;
} 
 

 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 
/* ******************************************************************** */ 
/*                      printer styles                                  */ 
/* ******************************************************************** */ 
     
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 

/*hide the right column when printing*/ 
#rightcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}
